@charset "UTF-8";

.jwdiv {
    font-family: 교육새음;
    font-size: 20px;
    font-weight: 400;
    color: #333;
}

.jwbutton {
    font-family: 의연체; 
    font-size: 24px;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 10px;
    text-align: center;
    border: none;
}

.join-input-btn-min {
	background : #FFFFFF;
	color: black;
    padding: 5px 15px;
	font-size: 24px;
	text-align: center;
	font-family: 의연체; 
	border-radius: 10px;
}

.join-input-dat {
	display: block;
	width: 300px;
	height: 20px;
	padding: 10px;
	margin-top: 15px;
	font-family : 교육새음;
	font-size : 20px;
	border: 1px solid black;
}

.main {
	width: 70%; 
	max-width: 700px; 
	min-height: 200px; 
	margin: 0 auto; 
	background-color: lightgray; 
	padding: 10px;
	font-family: 교육새음;
    font-size: 20px;
    font-weight: 400;
    color: #333;
}

.sub {
	margin: 0 auto;
    display: inline-block; /* 이미지 크기에 맞춰 박스 크기 조정 */
    background-color: lightgray; /* 배경 색상 */
    padding: 10px; /* 박스 안쪽 여백 */
    color: #333; /* 글자 색상 */
    margin: 0 auto; /* 가운데 정렬 */
}

.sub img {
    max-width: 100%;
    display: block; 
    margin: 0 auto; 
}

.dat {
	width: 70%; 
	max-width: 700px; 
	min-height: 150px; 
	margin: 0 auto; 
	background-color: white; 
	display: flex; 
	flex-direction: column; 
	justify-content: space-between; 
	padding: 10px;
	margin-bottom:50px;
	font-family: 교육새음;
    font-size: 20px;
    font-weight: 400;
    color: #333;
}	


button.gray-btn {
    background-color: #c0c0c0;
    color: white;
}

	
button.black-btn {
    background-color: #333333;
    color: white;
}

button.white-btn {
    background-color: #000000;
    color: black;
}

.record {
    font-family: 교육새음;
    font-size: 20px;
    font-weight: 400;
    color: #333;
}

.like {
	font-family: 다예쁨;
    font-size: 20px;
    font-weight: 100;
    color: #333;
}
