@charset "UTF-8";

/* 제목 */
@font-face {
	font-family: '둥근미소';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}
/* 본문 */
@font-face {
	font-family: '받아쓰기';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimBadasseugiTTF-L.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
/* 태그 */
@font-face {
	font-family: '교육새음';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
/* 채팅 */
@font-face {
	font-family: '의연체';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
/* 타이틀 */
@font-face {
	font-family: '다예쁨';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '순천체';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonR.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '레페리포인트';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: '레페리포인트_bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color : #F3EEEA;
	padding: 10px;
}

.header-container {
    display: flex;                /* Flexbox로 컨테이너 설정 */
    justify-content: center;      /* 수평 중앙 정렬 */
    align-items: baseline;          /* 수직 중앙 정렬 */
    height: 80px;                 /* 헤더 높이 설정 (필요시 조정) */
}

.header-title {
    font-family: 다예쁨;
    color: #799351;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    margin-right: 20px;           /* 메뉴와의 간격 */
}

.nav-ul {
    list-style-type: none;
    display: flex;                /* 가로로 배치 */
    margin: 0;
    padding: 0;
}

.nav-ul>li {
    margin: 20px;            /* 각 메뉴 간의 간격 설정 */
    font-family: 레페리포인트;
}

.nav-li-a {
    color: #776B5D;
    text-decoration: none;
    font-weight: bold;
}

.nav-li-a:hover {
    color: #EE4E4E;
    font-weight: bold;
}
