<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SpotMapper">
	<!-- School -->
	<select id="SchoolList" resultType="com.pandas.model.Schools">
		select * from schools
	</select>
	<select id="FindSchool" parameterType="String"
		resultType="com.pandas.model.Schools">
		select * from schools where SCHOOL_NAME LIKE '%' || #{name}
		|| '%'
	</select>
	<select id="FindSchoolNum"
		parameterType="com.pandas.model.Schools" resultType="Double">
		select SCHOOL_IDX
		from SCHOOLS where SCHOOL_NAME = #{school_name} and SCHOOL_REGION =
		#{school_region}
	</select>

	<!-- Diary -->
	<select id="DiaryList" resultType="com.pandas.model.Diaries">
		select * from diaries
	</select>
	<!-- Diary 글 불러오기 -->
	<select id="getDiary" parameterType="int"
		resultType="com.pandas.model.Diaries">
		select * from diaries where DIARY_IDX=#{idx}
	</select>

	<!-- Community -->
	<select id="CommunityList"
		resultType="com.pandas.model.Communities">
		select * from communities
	</select>
	<!-- Community 글 불러오기 -->
	<select id="getCommunities" parameterType="int"
		resultType="com.pandas.model.Communities">
		select * from communities where COMM_IDX=#{idx}
	</select>

	<!-- Question -->
	<select id="QuestionList"
		resultType="com.pandas.model.Questions">
		select * from questions
	</select>
<!-- Question 글 불러오기 -->
	<select id="getQuestion" resultType="com.pandas.model.Questions">
		select * from questions where Q_IDX=#{idx}
	</select>

	<!-- Member -->
	<insert id="join" parameterType="com.pandas.model.Members">
		INSERT INTO MEMBERS(MEM_ID,
		MEM_PW, MEM_NAME, MEM_NICK, MEM_BIRTHDATE, MEM_SCHOOL,
		MEM_PROFILE_IMG) VALUES (#{mem_id}, #{mem_pw}, #{mem_name},
		#{mem_nick}, #{mem_birthdate}, #{mem_school}, #{mem_profile_img})
	</insert>
	<select id="login" parameterType="com.pandas.model.Members"
		resultType="com.pandas.model.Members">
		SELECT * FROM MEMBERS WHERE MEM_ID = #{mem_id} AND MEM_PW =
		#{mem_pw}
	</select>
	
	<select id="FindId" parameterType="String" resultType="com.pandas.model.Members">
		SELECT * FROM MEMBERS WHERE MEM_ID = #{mem_id}
	</select>

	<!-- Community 등록, 수정 -->
	<insert id="post" parameterType="com.pandas.model.Communities">
		INSERT INTO
		COMMUNITIES(COMM_TITLE,COMM_CONTENT,COMM_FILE,CREATED_AT,COMM_VIEWS,COMM_LIKES,MEM_ID)
		VALUES (#{comm_title}, #{comm_content}, #{comm_file}, #{ceated_at},
		#{comm_views}, #{comm_likes}, #{mem_id})
	</insert>
	
	<!-- Records 등록 -->
	<insert id="Recording" parameterType="com.pandas.model.Records">
  	 	 INSERT INTO
   		 RECORDS(RECORD_IDX, RECORD_TAG, RECORD_FILES, RECORD_LIKES, CREATE_AT, MEM_ID)
  		 VALUES (#{record_idx}, #{record_tag,jdbcType=VARCHAR}, #{record_files,jdbcType=VARCHAR}, #{record_likes,jdbcType=VARCHAR}, SYSDATE, #{mem_id,jdbcType=VARCHAR})
		</insert>
	
	<update id=""></update>

</mapper>