<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SpotMapper">
<!-- School -->
	<select id="SchoolList" resultType="com.pandas.model.Schools">
		select * from schools
	</select>
		<select id="FindSchool" parameterType="String" resultType="com.pandas.model.Schools">
		select * from schools where SCHOOL_NAME LIKE '%' || #{name} || '%'
	</select>
	
<!-- Diary -->
	<select id="DiaryList" resultType="com.pandas.model.Diaries">
		select * from diaries
	</select>
	<!-- Diary 글 불러오기 -->
	<select id="getDiary" parameterType="int" resultType="com.pandas.model.Diaries">
		select * from diaries where DIARY_IDX=#{idx}
	</select>
	
<!-- Community -->
	<select id="CommunityList" resultType="com.pandas.model.Communities">
		select * from communities
	</select>

<!-- Question -->
	<select id="QuestionList" resultType="com.pandas.model.Questions">
		select * from questions
	</select>

<!-- Member -->
	<insert id="join" parameterType="com.pandas.model.Members">
		INSERT INTO MEMBERS(MEM_ID, MEM_PW, MEM_NAME, MEM_NICK, MEM_BIRTHDATE, MEM_SCHOOL, MEM_PROFILE_IMG) VALUES (#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_nick}, #{mem_birthdate}, #{mem_school}, #{mem_profile_img})
	</insert>
	<select id="login" parameterType="com.pandas.model.Members" resultType="com.pandas.model.Members">
		SELECT * FROM MEMBERS WHERE MEM_ID = #{mem_id} AND MEM_PW = #{mem_pw}
	</select>
	

</mapper>